mediapipe==0.10.20
numpy==2.2.2
opencv-contrib-python==4.11.0.86
opencv-python==4.11.0.86
pip==25.0
scikit-learn==1.6.1
streamlit==1.41.1
streamlit-webrtc==0.47.9
watchdog==6.0.0
wheel==0.45.1
zipp==3.21.0
